
html {
  height: 100%;
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0px;
	font-family: "Century Gothic";
	width: 100%;
	background: #eee;
	position: relative;
  	padding-bottom: 250px; /*must be equal or greater than footer's height */
 	min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}


/*check this in the morning */
li.col-md-3,
li.col-sm-3
{
	width: 20%;
}

nav.navbar.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0px;
	/*height: 70px;*/
	background-color: #fff;
	border-color: #fff;
}

.navbar-center {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5px;
    left: 0;
    top: 0;
}

ul.navbar-nav{
	margin: 7.5px;
}

/*========================================================================
styling of the all a tags 
==========================================================================*/

a
{
	color: #fff;
	text-decoration: none;
	display: block;
}

a:hover,
a:active,
a:focus,
a:active
{
	color: #1da1f2;
	text-decoration: none;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a.active,
button[type=submit]:hover,
button[type=submit]:active,
button[type=submit]:focus
{
	color: #1da1f2;
	background: transparent;
	background-color: transparent;
}

/*========================================================================
styling of the all a tags ends here
==========================================================================*/

/*=======================================================================
styling of the customize button begins here
=======================================================================*/

#buttonboxback {
    background-color: #1da1f2;
    position: relative;
    margin-left: 40px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-weight: bolder;
    opacity: 0.75;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    left: -17px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #1da1f2 transparent transparent;
}

#buttonboxback:after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #1da1f2;
}


#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

#buttonboxback:hover {
    background-color: #1da1f2;
    opacity: 1;
}

#buttonboxback:hover:before {
    border-right-color: #1da1f2;
}

/*testing */
.btn-custom{
	color: #fff;
	border-radius: 0px;
	font-weight: bolder;
	opacity: 0.85;
	transition: 0.5s ease;
	background: #1da1f2;
	border: 1px solid #1da1f2;
}


.btn-block.btn-custom{
	font-size: 14px;
}


.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:visited
{
	opacity: 1;
	color: #fff;
	
}
.btn-block.btn-custom:hover,
.btn-block.btn-custom:focus,
.btn-block.btn-custom:active,
.btn-block.btn-custom:visited
{
	font-size: 16px;
}
/*testing */
.btn-black {
    background-color: #1da1f2;
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-weight: bolder;
    opacity: 0.75;
}

.btn-black:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #1da1f2 transparent transparent;
}

.btn-black:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #1da1f2;
}


.btn-black > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

.btn-black:hover,
.btn-black:active,
.btn-black:visited
 {
    background-color: #1da1f2;
    opacity: 1;
    color: #fff;
}

.btn-black:hover:before {
    border-right-color: #1da1f2;
}

/*end testing */

/*=======================================================================
styling of the customize button ends here
=======================================================================*/


/*styling of the search overlay */
#search-area{
	width:100%;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: scaleZ(0);
    transform: scaleZ(0);
    background-color: rgba(0,0,0,0.90);
    webkit-transition: transform 0.2s;
	transition: transform 0.2s;
    padding: 10px 10px 10px 10px;
    z-index: 1;
    text-align: center;

}

#search-area input[type=text] {
	margin:  0 auto;
    width: 25%;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    background-color: transparent;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    border: 0;
    border-color: none;
    border-radius: 0;
    color: #DDD;
    border-bottom: 1px solid #DDD;
}

#search-area input[type=text]:focus {
	box-shadow: 0;
    width: 50%;
}

/*styling of the overlay ended here */

.header-menu .badge-header {
	border-radius:8px;
	padding:2px 5px;
	right:8px;
	top:-5px;
	position:relative;
	font-size:12px
}
.header-menu .header-icon {
	display:inline;
	max-width:100%;
	height:22px
}
.header-menu .dropdown-menu {
	top:42px;
	right:0;
	left:auto;
	min-width:170px !important;
	max-width:290px !important;
	width:280px;
	margin:0;
	padding:0
}
.header-menu .dropdown-menu {
	border-top-left-radius:3px !important;
	border-top-right-radius:3px !important
}
.header-menu .dropdown-menu:after {
	border-bottom:6px solid #2b2e33;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	content:"";
	display:inline-block;
	right:17px;
	position:absolute;
	top:-6px
}
.header-menu .dropdown-menu .dropdown-header {
	background:#222;
	color:#fff;
	font-family:'Carrois Gothic';
	font-size:15px;
	padding:8px 15px
}
.header-menu .dropdown-menu .dropdown-header:hover {
	background:#222;
	color:#fff;
	cursor:default
}
.header-menu .dropdown-menu .dropdown-header p {
	margin:0
}
.header-menu .dropdown-menu li {
	background:0;
	padding:0
}
.header-menu .dropdown-menu li:hover {
	background:0
}
.header-menu .dropdown-menu li ul li {
	padding:12px 10px 6px 10px
}

.header-menu .dropdown-menu li ul li > span > i{
	margin-right: 5px;
}

.header-menu .dropdown-menu li ul li a{
	color: #000;
}

.header-menu .dropdown-menu li ul li:hover {
	background:#eaeaea
}
.header-menu .dropdown-menu li ul li a:hover {
	text-decoration:none
}
.header-menu .dropdown-menu li ul li .dropdown-time {
	color:#c4c4c4;
	font-size:12px;
	display:block;
	text-align:right;
	font-weight:600
}
.header-menu .dropdown-menu .dropdown-footer {
	border-top:1px solid #e2e2e2;
	color:#121212;
	font-family:'Carrois Gothic';
	font-size:12px;
	padding:5px;
	background:#f8f8f8
}
.header-menu .dropdown-menu .dropdown-footer a {
	padding:3px 5px
}
.header-menu .dropdown-menu .dropdown-footer a:hover {
	background:0
}
.header-menu .dropdown-menu>li>a.pull-left,.header-menu .dropdown-menu>li>a.pull-right {
	clear:none
}
.header-menu #messages-header .glyph-icon {
	color:#fff;
	font-size:20px;
	margin-top:2px
}
.header-menu #messages-header ul li img {
	height:30px;
	margin-top:-5px;
	border-radius:50%
}
.header-menu #messages-header .dropdown-body p {
	font-size:12px;
	font-style:italic;
	margin:5px 0 5px
}
.header-menu #user-header li a:hover {
	text-decoration:none;
	background-color:#eaeaea
}
.header-menu #user-header .dropdown-menu {
	width:178px
}
.header-menu #user-header .dropdown-menu li a {
	padding:8px 15px;
	display:block;
	font-size:13px;
	color: #000;
}
.header-menu #user-header .dropdown-menu li a i {
	padding-right:8px
}
.header-menu #user-header .dropdown-menu:after {
	border-bottom:6px solid #eaeaea;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	content:"";
	display:inline-block;
	right:17px;
	position:absolute;
	top:-6px
}
.header-menu #user-header .dropdown-menu .dropdown-footer {
	background-color:#e9e9e9
}
.header-menu #user-header .dropdown-menu li.dropdown-footer {
	padding:0
}
.header-menu #user-header .dropdown-menu .dropdown-footer a {
	color:#575757;
	font-size:16px;
	display:inline-block;
	width:56px;
	padding:8px;
	text-align:center
}
.header-menu #user-header .dropdown-menu .dropdown-footer a:hover {
	background-color:#dcdcdc
}
.header-menu #user-header .dropdown-menu .dropdown-footer a i {
	padding-right:0
}
.header-menu #notifications-header .glyph-icon {
	color:#fff;
	font-size:22px;
	margin-top:2px
}
.header-menu .notification {
	position:absolute;
	top:7px;
	left:10px;
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:50%
}
.notification-danger {
	background-color:#ed5466
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav> a:hover

{
	background-color: transparent;
	background: transparent;
}

/*================================================================================================================================*/
	/*styling of search area and the action-list area */
/*================================================================================================================================*/
.search-area{
	margin-bottom: 0px;
	background: #123; 
	padding-top: 10px; 
	padding-bottom: 10px;
}

.action-lists{
	background: #000; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #fff; 
	font-weight: bolder;
}

.action-lists > ul{
	list-style-type: none; 
	text-align: center; 
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
	padding: 0px;
}

.action-lists > ul >li{
	display: inline-block;
}

.action-lists > ul >li > a{
	color: #fff;
	text-decoration: none;
	outline: 0;
}

.action-lists > ul >li > a:hover{
	opacity: 0.75;
}

.alert-clone{
	background: #ddd;
	border-color: #ddd;
	border-radius: 0px;
	padding: 5px; 
}

.alert-content{
	width: 90%;
	margin: 0 auto;
}

.alert-content p{
	margin-bottom: 0px;
}

/*================================================================================================================================*/
	/*styling of search area and the action-list area end here....... */
/*================================================================================================================================*/

section.content-area{
	padding: 133px 0px 5px 0px;
	margin-bottom: 150px;
}

.sections{
	margin-top: 40px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1da1f2;
    color: #fff;
    padding: 5px;
    margin: 0 auto;
    
}

.swiper-contained .swiper-slide{
	background: transparent;
	align-items: center;
	text-align: center;
}

.swiper-contained .swiper-slide > .thumbnail{
	margin: 0 auto;
}



/*===================================================================
	STYLING OF THE FOOTER BEGINS
===================================================================*/

footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	font-size: 15px;
}

footer .container{
	width: 90%;
}

footer .thumbnail{
	padding: 0px; 
	background: transparent; 
	border: none;
	width: 50%;
}

footer .partners-container{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #333333;
	margin-bottom: 50px;
}

footer .partners-header{
	color: #fff;
	font-weight: bolder;
	margin-top: 0px;
	text-align: center;
}

footer h4{
	color: #999;
    margin-bottom: .75rem;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

ul.inline{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

ul.inline li{
	display: inline-block;
	padding-right: 10px; 
}

.col-md-6 .inline{
	
}

ul.inline > li.pipe{
	font-size: 20px;
}


li .fa{
	width: 25px;
	padding-right: 5px;
}


/*===================================
styling of the banner
=====================================*/
/*styling of input/photo */

.brand-container{
	width: 80%;
}

.brand-container .picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0px;
}
.brand-container .picture{
    width: 100%;
    height: 200px;
    background-color: #999999;
    border: 2px solid #CCCCCC;
    color: #FFFFFF;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.brand-container .picture:hover{
    border-color: #1da1f2;
}

.brand-container .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.brand-container .picture-src{
    width: 100%;
    height: 100%;   
}
/*==============================================================================
	Adding box-shadow effect
==============================================================================*/

.alert-clone{
	background: #ddd;
	border-color: #ddd;
	border-radius: 0px;
	padding: 5px; 
}
