html {
  height: 100%;
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0px;
	font-family: "Century Gothic";
	width: 100%;
	background: #fff;
	position: relative;
  	padding-bottom: 250px; /*must be equal or greater than footer's height */
 	min-height: 100%;
}

body[data="home"]{
	background: #eee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p{
	text-align: justify;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/Loaders/Preloader_8.gif) center no-repeat #fff;
}

h1,h2,h3,h4,h5,h6{
	text-rendering: optimizeLegibility;
	font-weight: 900;
}

header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}


/*check this in the morning */
/*li.col-md-3,
li.col-sm-3
{
	width: 20%;
}*/

nav.navbar.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0px;
	/*height: 70px;*/
	background-color: #fff;
	border-color: #fff;
}

.navbar-center {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5px;
    left: 0;
    top: 0;
}

.navbar-center .logo-wrapper{
	width: 128px; 
	height: 64px; 
	background: transparent; 
	margin: 0 auto;
}

.logo-wrapper > a{
	display: block;
}

.logo-wrapper .thumbnail{
	height: auto; 
	margin-bottom: 0px; 
	border: none; 
	padding: 0px;
}

ul.navbar-nav{
	margin: 7.5px;
}

/*========================================================================
sidebar styling begins here....
========================================================================*/

/*===================================================
Styling to keep div behaving like table cells ends here
====================================================*/
#wrapper {
    padding-left: 0;
    min-height: 100%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hamburger.is-closed,
.hamburger.is-open,
#sidebar-wrapper {
	display: none;
}

/*=======================================================================
sidebar styling ends here
========================================================================*/


/*========================================================================
styling of the all a tags 
==========================================================================*/

a
{
	color: #fff;
	text-decoration: none;
	display: block;
	outline: 0;
}

a:hover,
a:active,
a:focus,
a:active
{
	color: #007497;
	text-decoration: none;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a.active,
button[type=submit]:hover,
button[type=submit]:active,
button[type=submit]:focus
{
	color: #007497;
	background: transparent;
	background-color: transparent;
	font-weight: bolder;
	outline: 0;
}


/*========================================================================
styling of the all a tags ends here
==========================================================================*/

/*=======================================================================
styling of the customize button begins here
=======================================================================*/

#buttonboxback {
    background-color: #1da1f2;
    position: relative;
    margin-left: 40px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-weight: bolder;
    opacity: 0.75;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    left: -17px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #1da1f2 transparent transparent;
}

#buttonboxback:after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #1da1f2;
}


#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

#buttonboxback:hover {
    background-color: #1da1f2;
    opacity: 1;
}

#buttonboxback:hover:before {
    border-right-color: #1da1f2;
}

/*general button */

.btn {
    position: relative;
    margin-top: 5px;
    color: #fff;
    font-weight: bolder;
    opacity: 0.95;
    outline: 0;
    transition: 0.05s ease;
}


/* button general */
.btn-black{
	background-color: #1da1f2;
	padding: 7px 14px 7px 14px;
	font-size: 18px;
}

.btn-black:before{
	border-color: transparent #1da1f2 transparent transparent;
	content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    transition: 0.3s ease;
}

.btn-black:after{
	border-color: transparent transparent transparent #1da1f2;
	content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    transition: 0.3s ease;
}

.btn-black:hover,
.btn-black:active,
.btn-black:visited
 {
    background-color: #1da1f2;
    opacity: 1;
    color: #fff;
}

.btn-black:hover:before {
    border-right-color: #1da1f2;
}

/* button general */

/*button facebook */
.btn-facebook {
    background-color: #2d4373;
    padding: 7px 14px 7px 14px;
    font-size: 18px;
}

.btn-facebook:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #2d4373 transparent transparent;
    transition: 0.3s ease;
}

.btn-facebook:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #2d4373;
    transition: 0.3s ease;
}

.btn-facebook > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:visited
 {
    background-color: #2d4373;
    opacity: 1;
    color: #fff;
}

.btn-facebook:hover:before {
    border-right-color: #2d4373;
}

/* button facebook */

/* button twitter */
.btn-twitter {
    background-color: #1DA1F2;
    padding: 7px 14px 7px 14px;
    font-size: 18px;
}

.btn-twitter:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #1DA1F2 transparent transparent;
    transition: 0.3s ease;
}

.btn-twitter:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #1DA1F2;
    transition: 0.3s ease;
}

.btn-twitter > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:visited
 {
    background-color: #1DA1F2;
    opacity: 1;
    color: #fff;
}

.btn-twitter:hover:before {
    border-right-color: #1DA1F2;
}

/* button twitter */

/*button google */
.btn-google {
    background-color: #DD4B39;
    padding: 7px 14px 7px 14px;
    font-size: 18px;
}

.btn-google:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #DD4B39 transparent transparent;
    transition: 0.3s ease;
}

.btn-google:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #DD4B39;
    transition: 0.3s ease;
}

.btn-google > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

.btn-google:hover,
.btn-google:active,
.btn-google:visited
 {
    background-color: #DD4B39;
    opacity: 1;
    color: #fff;
}

.btn-google:hover:before {
    border-right-color: #DD4B39;
}

/* button google */

/* button email */
.btn-email {
    background-color: #A9A9A9;
    padding: 7px 14px 7px 14px;
    font-size: 18px;
}

.btn-email:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #A9A9A9 transparent transparent;
    transition: 0.3s ease;
}

.btn-email:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #A9A9A9;
    transition: 0.3s ease;
}

.btn-email > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

.btn-email:hover,
.btn-email:active,
.btn-email:visited
 {
    background-color: #A9A9A9;
    opacity: 1;
    color: #fff;
}

.btn-email:hover:before {
    border-right-color: #A9A9A9;
}

/* button email */
/* button instagram */

.btn-instagram {
    background-color: #E64159;
    padding: 7px 14px 7px 14px;
    font-size: 18px;
}

.btn-instagram:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #E64159 transparent transparent;
    transition: 0.3s ease;
}

.btn-instagram:after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #E64159;
    transition: 0.3s ease;
}

.btn-instagram:hover,
.btn-instagram:active,
.btn-instagram:visited
 {
    background-color: #E64159;
    opacity: 1;
    color: #fff;
}

.btn-instagram:hover:before {
    border-right-color: #E64159;
}
/* button instagram */

/* button sizes */
.btn-90{
	width: 90%;
}

.btn-50{
	width: 50%;
}

/* button sizes */

/*button small*/
.btn-small {
    background-color: #1da1f2;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
    border-radius: 0px;
}

.btn-small:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -19px;
    border-style: solid;
    border-width: 18px 19px 18px 0;
    border-color: transparent #1da1f2 transparent transparent;
    transition: 0.3s ease;
}

.btn-small:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -19px;
    border-style: solid;
    border-width: 18px 0 18px 19px;
    border-color: transparent transparent transparent #1da1f2;
    transition: 0.3s ease;
}

.btn-small:hover,
.btn-small:active,
.btn-small:visited
 {
    background-color: #1da1f2;
    opacity: 1;
    color: #fff;
}

.btn-small:hover:before,
.btn-small:hover:after
 {
    border-right-color: #1da1f2;
}

/*button small*/
.btn-custom{
	color: #fff;
	border-radius: 0px;
	font-weight: bolder;
	opacity: 0.85;
	transition: 0.5s ease;
	background: #1da1f2;
	border: 1px solid #1da1f2;
}

.btn-block.btn-custom{
	font-size: 14px;
}


.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:visited
{
	opacity: 1;
	color: #fff;
	
}
.btn-block.btn-custom:hover,
.btn-block.btn-custom:focus,
.btn-block.btn-custom:active,
.btn-block.btn-custom:visited
{
	font-size: 16px;
}

.btn-outline{
	color: #1da1f2;
	font-size: 16px;
	outline: 0;
	background: none;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:visited,


{
	color: #007498;
	background: none;
	box-shadow: none;

}

a.inline{
	display: inline;
	color: red;
	transition: all ease 1s;
	outline: 0;
	font-weight: bold;
}

a.inline:hover,
a.inline:active,
a.inline:focus,
a.inline:visited{
	opacity: 0.65;
}
/*=======================================================================
styling of the customize button ends here
=======================================================================*/


/*styling of the search overlay */
#search-area{
	width:100%;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: scaleZ(0);
    transform: scaleZ(0);
    background-color: rgba(0,0,0,0.90);
    webkit-transition: transform 0.2s;
	transition: transform 0.2s;
    padding: 10px 10px 10px 10px;
    z-index: 1;
    text-align: center;
}

#search-area input[type=text] {
	margin:  0 auto;
    width: 25%;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    background-color: transparent;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    border: 0;
    border-color: none;
    border-radius: 0;
    color: #DDD;
    border-bottom: 1px solid #DDD;
}

#search-area input[type=text]:focus {
	box-shadow: 0;
	outline: none;
    width: 50%;
}

/*styling of the overlay ended here */

.header-menu .badge-header {
	border-radius:8px;
	padding:2px 5px;
	right:8px;
	top:-5px;
	position:relative;
	font-size:12px
}
.header-menu .header-icon {
	display:inline;
	max-width:100%;
	height:22px
}
.header-menu .dropdown-menu {
	top:42px;
	right:0;
	left:auto;
	min-width:170px !important;
	max-width:290px !important;
	width:280px;
	margin:0;
	padding:0
}
.header-menu .dropdown-menu {
	border-top-left-radius:3px !important;
	border-top-right-radius:3px !important
}
.header-menu .dropdown-menu:after {
	border-bottom:6px solid #2b2e33;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	content:"";
	display:inline-block;
	right:17px;
	position:absolute;
	top:-6px
}
.header-menu .dropdown-menu .dropdown-header {
	background:#007497;
	color:#fff;
	font-family:'Carrois Gothic';
	font-size:15px;
	padding:8px 15px
}
.header-menu .dropdown-menu .dropdown-header:hover {
	background:#222;
	color:#fff;
	cursor:default
}
.header-menu .dropdown-menu .dropdown-header p {
	margin:0
}
.header-menu .dropdown-menu li {
	background:0;
	padding:0
}
.header-menu .dropdown-menu li:hover {
	background:0
}
.header-menu .dropdown-menu li ul li {
	padding:12px 10px 6px 10px
}

.header-menu .dropdown-menu li ul li > span > i{
	margin-right: 5px;
}

.header-menu .dropdown-menu li ul li a{
	color: #000;
}

.header-menu .dropdown-menu li ul li:hover {
	background:#eaeaea
}
.header-menu .dropdown-menu li ul li a:hover {
	text-decoration:none
}
.header-menu .dropdown-menu li ul li .dropdown-time {
	color:#c4c4c4;
	font-size:12px;
	display:block;
	text-align:right;
	font-weight:600
}
.header-menu .dropdown-menu .dropdown-footer {
	border-top:1px solid #e2e2e2;
	color:#121212;
	font-family:'Carrois Gothic';
	font-size:12px;
	padding:5px;
	background:#f8f8f8
}
.header-menu .dropdown-menu .dropdown-footer a {
	padding:3px 5px
}
.header-menu .dropdown-menu .dropdown-footer a:hover {
	background:0
}
.header-menu .dropdown-menu>li>a.pull-left,.header-menu .dropdown-menu>li>a.pull-right {
	clear:none
}
.header-menu #messages-header .glyph-icon {
	color:#fff;
	font-size:20px;
	margin-top:2px
}
.header-menu #messages-header ul li img {
	height:30px;
	margin-top:-5px;
	border-radius:50%
}
.header-menu #messages-header .dropdown-body p {
	font-size:12px;
	font-style:italic;
	margin:5px 0 5px
}
.header-menu #user-header li a:hover {
	text-decoration:none;
	background-color:#eaeaea
}
.header-menu #user-header .dropdown-menu {
	width:178px
}
.header-menu #user-header .dropdown-menu li a {
	padding:8px 15px;
	display:block;
	font-size:13px;
	color: #000;
}
.header-menu #user-header .dropdown-menu li a i {
	padding-right:8px
}
.header-menu #user-header .dropdown-menu:after {
	border-bottom:6px solid #eaeaea;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	content:"";
	display:inline-block;
	right:17px;
	position:absolute;
	top:-6px
}
.header-menu #user-header .dropdown-menu .dropdown-footer {
	background-color:#e9e9e9
}
.header-menu #user-header .dropdown-menu li.dropdown-footer {
	padding:0
}
.header-menu #user-header .dropdown-menu .dropdown-footer a {
	color:#575757;
	font-size:16px;
	display:inline-block;
	width:56px;
	padding:8px;
	text-align:center
}
.header-menu #user-header .dropdown-menu .dropdown-footer a:hover {
	background-color:#dcdcdc
}
.header-menu #user-header .dropdown-menu .dropdown-footer a i {
	padding-right:0
}
.header-menu #notifications-header .glyph-icon {
	color:#fff;
	font-size:22px;
	margin-top:2px
}
.header-menu .notification {
	position:absolute;
	top:7px;
	left:10px;
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:50%
}
.notification-danger {
	background-color:#ed5466
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav> a:hover

{
	background-color: transparent;
	background: transparent;
}

/*================================================================================================================================*/
	/*styling of search area and the action-list area */
/*================================================================================================================================*/

.search-area{
	margin-bottom: 0px;
	background: #123; 
	padding-top: 10px; 
	padding-bottom: 10px;
}

.action-lists{
	background: #000; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #fff; 
	font-weight: bolder;
}

.action-lists > ul{
	list-style-type: none; 
	text-align: center; 
	font-size: 18px;
	width: 80%;
	margin: 0 auto 25px auto;/*important */
	padding: 0px;
}

.action-lists > ul >li{
	display: inline-block;
}

.action-lists > ul >li > a{
	color: #fff;
	text-decoration: none;
	outline: 0;
}

.action-lists > ul >li > a:hover
{
	opacity: 0.75;
}

.alert-clone{
	background: #ddd;
	border-color: #ddd;
	border-radius: 0px;
	padding: 5px; 
}

.alert-content{
	width: 90%;
	margin: 0 auto;
}

.alert-content p{
	margin-bottom: 0px;
}

/*================================================================================================================================*/
	/*styling of search area and the action-list area end here....... */
/*================================================================================================================================*/

/*==========================================
 general setting for section
 =========================================== */
section.content-area{
	padding: 133px 0px 5px 0px;
	margin-bottom: 350px;/*must be equal or greater than height of footer */ 
}

section.content-area .container{
	width: 90%;
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}


/*swiper styling */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1da1f2;
    color: #fff;
    padding: 5px;
    margin: 0 auto;
    
}

.swiper-contained .swiper-slide{
	background: transparent;
	align-items: center;
	text-align: center;
}

.swiper-contained .swiper-slide > .thumbnail{
	margin: 0 auto;
}


section.content-area .gallery-container,
section.content-area .reward-container
{
	padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

section.content-area .content-gallery{
	background: #ddd; 
	padding: 10px;
}

section.content-area .gallery,
section.content-area .story-image {
	padding: 0px;
}

section.content-area .gallery{
	padding-bottom: 15px;
}

section.content-area .gallery:first-child{
	padding-top: 15px;
}

section.content-area .gallery:last-child{
	margin-bottom: 20px;
}

section.content-area .thumbnail{
	padding: 0px;
	border-radius: 0px;
	background: transparent;
	border: none;
}

section.content-area .thumbnail  img{
	width: 100%;
}

section.content-area .gallery-header{
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	background: #000;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}

section.content-area .button-container{
	margin-top: 20px;
}


.story-description{
	padding-right: 0px;
	padding-left: 0px;
}

.story-description h3 a,
.reward-container.is-flex  .story-description h3
{
	color: #007497;
	font-size: 3rem;
	margin-bottom: 4px;
	font-weight: bold;
	text-decoration: none;
}

.story-description p a{
	color: #999;
	font-size: 15px;
	margin-bottom: 4px;
	text-decoration: none;
}

.story{
	text-align: right;
	padding-right: 20px;
}

/*=================================================
		Take Action 
=================================================*/
.sections{
	margin-top: 40px;
}

.sections .container{
	margin-top: 10px; 
	margin-bottom: 10px; 
	width: 80%;
}

#action-category{
	font-family: 'MarkWebPro-Heavy-W03-Regular'; 
	font-size: 10.5px; 
	text-transform: uppercase; 
	margin-bottom: 2px; 
	color: #999; 
	text-decoration: none;
	outline: 0;
}

#action-header{
	font-size: 35px; 
	line-height: 1.15; 
	margin: 0; 
	text-rendering: optimizeLegibility;
	 font-weight: bolder;
}

.sections h4{
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 25px; 
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	font-weight: bolder; 
	margin-bottom: 20px;
}

span.social-medias a{
	color: #aeaeae;
	display: inline;
	text-decoration: none;
	margin-left: 50px;
}


span.social-medias a:hover{
	color: #1da1f2;
}

.sections ol{
	padding-left: 0px;
}

.sections ol li{
	margin-left: 32px;
	padding: 25px 0;
	border-bottom: 1px solid #222;
	font-size: 18px;
}

.sections ol li:first-child{
	padding-top: 0px;
	padding-bottom: 10px;
}

.sections ol li:last-child{
	border-bottom: none;
}
.sections ol li .input-group{
	padding-top: 15px
}

.input-group input[type='email'],
.input-group button[type='submit']
{
	height: 50px; 
	z-index: initial;
	margin-top: 0px;
}

.sections .actions,
.actions p
{
	text-align: center;
}

.actions .action-points{
	color: red; 
	font-weight: bold;
}

.sections .col-md-6 .thumbnail{

	margin: 20px 0 20px 0;
}

.actions h6{
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	font-size: 12px;
	text-align: left;
}

.tweet-texts{
	/*line-height: 1.5rem;*/
    overflow: scroll;
    padding: 1rem 2rem;
    margin: 20px 0;
    background: url(https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/striped_lens.png),-webkit-linear-gradient(-360deg,#f7f7f7,#fafafa),center no-repeat #f7f7f7 scroll;
    background: url(https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/striped_lens.png),linear-gradient(90deg,#f7f7f7,#fafafa),center no-repeat #f7f7f7 scroll;
    /*white-space: pre-line;*/
    text-align: left;
}

.instagram-texts,
.email-texts
{
	text-align: justify;
}

/*================================================
		Reward styling
==================================================*/

.jumbotron{
	background-color:rgba(0, 0, 0, 0.75);
	min-height: 250px;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.story-reward{
	text-align: center;
	margin-top: 80px;
}

section.content-area .reward-container{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #656565;
}

.reward-container > .reward-border{
	padding-top: 15px;
	padding-bottom: 15px;
	border-right: 1px solid #656565;
}

.reward-container > .reward-border:last-child,
section.content-area .gallery:last-child > .reward-container
{
	border: none;
}

.search-container form{
	width: 25%;
	float: right;
	border-bottom: 2px solid #007497;
}

.search-container .search{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
    border-radius: 0;
    padding-left: 18px;
    width: 100%;
}

.search-container .search:focus{
	outline: none;
}


.search-container .fa-search{
	position: absolute;
    color: #999;
    font-size: 14px;
    margin-left: -2px;
    margin-top: 5px;
}

.pagination-container{
	text-align: center;
}

/*===================================================
 			Reward detail 
 ====================================================*/
.content-area .reward-banner{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 500px;
	color: white;
}

.reward-banner > .reward-content{
	 height: 100%; 
	 position: relative;
	 background: rgba(0,0,0,0.3);
}

.reward-content > .reward-view{
	width: 40%; 
	position: absolute; 
	left: 50px; 
	bottom: 0;
	margin-bottom: 10px;
}

h1.reward-global-info{
	margin: 20px 0;
    font-size: 35px;
    font-size:calc(100% + 2vw);
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    font-family: "MarkWebPro-Heavy-W03-Regular";
}

.reward-view .article_actions{
	margin-top: 32px;
}


/*social icons inside the banner*/
.article_actions .article_actions__inner > a{
	display: inline-block;
	margin-right: 35px;
	outline: 0;
}

.article_actions .article_actions__inner > a:first-child:hover,
.article_actions .article_actions__inner > a:first-child:active,
.article_actions .article_actions__inner > a:first-child:focus
{
	color: #d62027;
}

/*social icons inside the banner*/

.reward-circle{
	width:90px; 
	height: 90px;
	border-radius: 100%;  
	display: block; 
	margin: 0 auto;
	text-align: center;
	border: 1px solid #007497;
}

.reward-circle:nth-child(2){
	margin-top: 50px;
	margin-bottom: 50px;
}

.reward-container.is-flex  .story-description h3{
	margin: 0px 0px 30px 0px;
	font-size: 35px;
}


.reward-container.is-flex .story-reward a{
	width: 90%;
}

.reward-detail-stats__num,
.reward-detail-stats__description
{
	display: block;
}

.reward-detail-stats__num{
	color: #007497;
	font-size: 25px;
}

/*==================================================================
		Profile styling
==================================================================*/
.jumbotron .user-timeline-container {
    margin-left: auto;
    margin-right: auto;
}

.jumbotron .timeline-info{
	width: 65%; 
	background-color: rgba(0,0,0,0.6);
	height: 100%; 
	margin:0 auto; 
	border-radius: 25px; 
	padding: 16px 0px;
	display: flex;
	color: #fff;
	box-sizing: inherit;
}

.user-timeline-container::after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron .avatar_holder{
	display: block;
    float: left;
    margin-right: 3.57866%;
    width: 22%;
    text-align: center;
 }

 .avatar_holder h5{
 	font-family: "MarkWebPro-Heavy-W03-Regular";
 	line-height: 1.15;
	margin: 0;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	padding-bottom: 5px;
	font-size: 25px;
 }

img.affiliate_logo{
  	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 6px solid #DDD;
	background-color: white;
}

.affiliate_content_info-points {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.affiliate_content_info {
    display: block;
    float: left;
    margin-right: 0;
    width: 74%;
}

.points-available,
.points-earned
 {
    display: table-cell;
    width: 37.5%;
    padding: 2.35765%;
    text-align: center;
    font-size: 20px;
}

.points-available h4,
.points-earned h4
{
	font-size: 20px;
	font-weight: bolder;
}

.feed-detail {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-top: 2rem;
}

.feed-detail .most-recent-updates {
    display: block;
}

.most-recent-updates .section-title {
    background: black;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-family: "MarkWebPro-Heavy-W03-Regular";
    margin: 0;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

.feed-detail .empty-feed-placeholder {
    background: #f7cbcd;
    color: #7d1317;
}

.section-head {
    display: block;
    text-align: center;
    border-top: 1px solid black;
    margin-bottom: 47px;
    margin-top: 60px;
}

.section-head h5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    padding: 13px 10px;
	border: 1px solid black;
	background: white;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "MarkWebPro-Book-W03-Regular";
	font-weight: normal;
	margin-top: -25px;
}

.points-per-action
{
    font-style: italic;
    margin-top: 2.5em;
    font-size: 18px;
}

.recent-action-container{
	display: flex;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px dotted #000;
}

.recent-action-container ol{
	list-style-type: none;
	padding-left: 0px;
	line-height: 1.25;
	font-weight: 400;
}

.article-recent a{
	color: #000;
	outline: 0;
	letter-spacing:1px;
	font-weight:bold;
}

.article-recent h5{
	font-size: 24px;
	margin-bottom: 0px;
	letter-spacing:1px;
	font-weight:bold;
}

.article-recent h5 a,
.article-recent a:hover,
.points-per-action span
{
	color: #007497;
}

/*=================================================
Settings styling begins here
=================================================*/
.settings h3,
.friends-content h3
{
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	margin-top: 64px;
}

.settings .col-md-6:nth-child(1) h3:first-child,
.settings .col-md-6:nth-child(2) h3:first-child,
.friends-content .col-md-6:nth-child(1) h3:first-child,
.friends-content .col-md-6:nth-child(2) h3:first-child
{
	margin-top: 20px;
}


.settings label{
	margin-bottom: 14px;
	font-weight: normal;
}
.date-birth [class*='col-'] {
	padding: 0px;
}

.picture-container {
    margin-top: -2px;
    overflow: hidden;
}

.avatar_label{
    border-radius: 100px;
 	background-repeat: no-repeat;
 	background-color: transparent;
 	background-position: center;
    width: 109px;
    height: 109px;
    max-width: 109px;
    background-size: 100%;
    display: inline-block;
    margin-left: 0;
	margin-right: 0;
	float: left;
	display: block;
	margin-right: 7.42297%;
}

#avatar-button, 
#delete-avatar-link {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-right: 10px;
    margin-bottom: 10px;
}

 #delete-avatar-link {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-right: 10px;
    padding-top: 10px;
    text-align: left;
}

/*=================================================================
	Refer friends styling
=================================================================*/
.friends-content h3{
	border: none;
	font-size: 30px;
}

.friends-content h1.heading{
	font-size: 40px;
}

.friends-content p{
	font-size: 15px;
}

#copyButton{
	display: inline;
	color: #007498;
	padding-top: 18px;
}

.iframe-container{
	margin-top: 50px;
}


#linkContainer{
	border-bottom: 1px solid #000;
	padding: 0px;
}

#buttonContainer{
	border-bottom: 1px solid #000;
	padding-top: 50px;
	padding-bottom: 50px;
}

#buttonContainer .btn-block{
	width: 90%;
}

#buttonContainer .col-md-6{
	margin-bottom: 20px;
}

#buttonContainer .col-md-6:nth-child(odd){
	padding-left: 0px;
}

#buttonContainer .col-md-6:nth-child(even){
	padding-right: 0px;
}

#copyTarget{
	font-size: 25px;
	font-weight: bold;
	color: #007497;
	border: none;
	background: transparent;
	overflow: hidden;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
	padding: 0;
	height: 40px;
}

#copyTarget:focus{
	box-shadow: none;
}

/*===================================================================
	STYLING OF THE FOOTER BEGINS
===================================================================*/
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	font-size: 15px;
}

footer .container{
	width: 90%;
	padding-top: 20px;
	display: table;
}

footer .thumbnail{
	padding: 0px; 
	background: transparent; 
	border: none;
	width: 50%;
}

footer .partners-container{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #333333;
	/*margin-bottom: 50px;*/
}

footer .partners-header{
	color: #fff;
	font-weight: bolder;
	margin-top: 0px;
	text-align: center;
}

footer h4{
	color: #999;
    margin-bottom: .75rem;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

ul.inline{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

ul.inline li{
	display: inline-block;
	padding-right: 10px; 
}

.col-md-6 .inline{
	
}

ul.inline > li.pipe{
	font-size: 20px;
}


li .fa{
	width: 25px;
	padding-right: 5px;
}





/*===================================================
Styling to keep div behaving like table cells begins here
====================================================*/

.is-flex
 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.is-flex > [class*='col-']
 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#signUpModal p{
	text-align: center;
}


.horizontal-rule-with-text {
    border-bottom: 1px solid #bebebe;
    text-align: center;
    padding: 0;
}

.horizontal-rule-with-text span {
    position: relative;
    top: 12px;
    width: 3em;
    margin-right: 20px;
    background: white;
    display: inline-block;
    text-transform: uppercase;
    color: #808080;
    font-weight: 500;
}

button.close{
	font-size: 45px;
}