@media screen and (max-width: 480px) {
	nav.navbar.navbar-inverse{
		height: 60px;
		box-shadow: 0 1px 3px rgba(155,155,155,0.25);
	}

	.navbar-center{
		left: 50%;
		margin-left: -16%;
		margin-top: 10px;
    	margin-bottom: 10px;
	}

	.navbar-center .logo-wrapper,
	.logo-wrapper .thumbnail
	{
		height: 40px;
	}

	.logo-wrapper .thumbnail > img{
		height: 100%;
	}

/*===================================================
	Take Action
====================================================*/
#action-header{
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
}

span.social-medias{
	display: block;
	text-align: center;
}
span.social-medias a{
	background: #fff;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100%;
    color: #1da1f2;
    transition: 0.5s all ease;
    border: 1px solid #1da1f2;
}

span.social-medias a:hover{
	background: #1da1f2;
	color: #fff;
	font-size: 18px;
}

span.social-medias a:first-child{
	margin-left: 0px;
	border-color: #3b5998;
	color: #3b5998;
}

span.social-medias a:first-child:hover{
	background: #3b5998;
	color: #fff;
}

span.social-medias a:nth-child(3){
	border: 1px solid #ea4335;
	color: #ea4335;
}

span.social-medias a:nth-child(3):hover{
	background: #ea4335;
	color: #fff;
}
/*===================================================
	Styling to keep div behaving like table cells ends here
====================================================*/
#wrapper {
    padding-left: 0;
    min-height: 100%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top{
	top: 60px;
}

#sidebar-wrapper {
	display: initial;
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1e1e15;
    /*border-right: 1px solid #e6e6e6;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
   -webkit-box-shadow: inset -155px -128px 35px -149px rgba(0,0,0,1);
   -moz-box-shadow: inset -155px -128px 35px -149px rgba(0,0,0,1);
    box-shadow: inset -155px -128px 35px -149px rgba(0,0,0,1);
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 60%;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 20px;
    height: 100%; !important
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -800px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
    /*border-bottom : 1px solid #e6e6e6;*/
}


.sidebar-nav li a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    outline: 0;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    background: #000;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 10px;  
  z-index: 999;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  background: transparent;
  border: none;
}

.hamburger.is-closed,
.hamburger.is-open
	 {
		background: transparent;
		background-color: transparent;
		float: none;
		margin-left: 15px;
		margin-top: 10px;
		display: initial;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}


/*=======================================================================
sidebar styling ends here
========================================================================*/


	.action-lists,
	.alert-clone
	{
		display: none;
	}

	section.content-area{
		padding-top: 60px;
    	margin-bottom: 350px;
	}

	body[data="home"] section.content-area{
		margin-bottom: 450px;
	}

	section.content-area .container{
		width: 100%;
	}

	.sections {
    	margin-top: 0px;
	}
	
	/* menu styling */
	.action-lists > ul{
		text-align: left;
		width: 100%;
		margin-bottom: 0px;
	}

	/*index styling*/
	section.content-area .gallery-container{
		padding-bottom: 10px;
	}

	.gallery:last-child .gallery-container{
		padding-bottom: 0px;
	}

	/*Reward STYLING */
	.search-container form{
		width: 100%;
    	float: none; 
	}

	.reward-container > .reward-border{
		border-right: none;
		padding-top: 20px;
    	padding-bottom: 20px;
	}

	.reward-border > .reward-gallery{
		border-bottom: 1px solid #656565;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 40px;
	}

	section.content-area .gallery:first-child,
	.gallery .reward-container,
	section.content-area .gallery:first-child .reward-container,
	section.content-area .gallery,
	section.content-area .gallery .reward-container,
	.reward-container > .reward-border:last-child{
		padding-bottom: 0px;
	}


	.gallery:last-child > .reward-container > .reward-border:last-child > .reward-gallery{
		border-bottom: none;
	}

	section.content-area .reward-container{
		border-bottom: none;
	}

	/*reward detail */
	.reward-content > .reward-view{
		width: 100%;
		left: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.reward-circle{
		display: inline-block;
	}

	#circle-container{
		text-align: center;
	}

	.reward-circle:nth-child(2){
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 20px;
	}

	/*profile styling */
	.jumbotron{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.jumbotron .user-timeline-container{
		padding-left: 10px;
		padding-right: 10px;
	}

	.jumbotron .timeline-info{
		width: 100%;
	}

	.jumbotron .timeline-info
	{
		display: table;
	}

	.jumbotron .avatar_holder,
	.affiliate_content_info
	{
		float: none;
		width: 100%;
	}
	.points-available, .points-earned{
		display: block;
		width: 100%;
		padding: 0px;
		font-size: 18px;
	}

	.points-available h4, .points-earned h4{
		margin: 0px;
		font-size: 18px;
	}

	.avatar_holder h5{
		font-size: 18px;
		padding-bottom: 0px;
	}

	img.affiliate_logo{
		width: 150px;
		height: 150px;
	}

	.points-available{
		margin-bottom: 10px;
	}

	.section-head{
		border-top: none;
		margin-bottom: 0px;
	}

	.section-head h5{
		float: none;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.recent-action-container{
		display: block;
	}

	/*settings styling */
	.avatar_label,
	#delete-avatar-link,
	#avatar-button
	{
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	/*friend styling */
	#buttonContainer{
		display: table;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#buttonContainer .col-md-6:nth-child(odd),
	#buttonContainer .col-md-6:nth-child(even)
	{
		padding-left: 0px;
		padding-right: 0px;
		margin: 10 auto;
	}

	#buttonContainer .btn-block{
		width: 100%;
	}
	#buttonContainer .col-md-6:last-child{
		margin-bottom: 0px;
	}

	#linkContainer{
		border-top: 1px solid #000;
		border-bottom: none;
	}

	#linkContainer .col-md-4{
		text-align: center;
	}

	.iframe-container{
		margin-bottom: 50px;
	}
}